{% extends 'base.html' %}
{% load static %}

{% block title %}home{% endblock title %}

{% block content %}




<div class="container3">
    <div class="left">
        <!-- Left column content (ads, etc.) goes here -->
        <img src="https://cdn.pixabay.com/photo/2023/08/07/13/44/tree-8175062_1280.jpg" alt="Ad 1">
        <img src="https://cdn.pixabay.com/photo/2023/04/07/09/19/woman-7905926_1280.jpg" alt="Ad 2">
        
        <img src="https://cdn.pixabay.com/photo/2023/07/22/10/50/ship-8143169_1280.jpg" alt="Ad 3">
        <img src="https://cdn.pixabay.com/photo/2023/07/13/16/32/woman-8125236_1280.jpg" alt="Ad 4">
        
 
 
    </div>
    <div class="middle">
        <!-- Middle column content goes here -->
                    
        {% if articles %}
                {% for article in  articles %}

                    <h2> {{article.header}}</h2>

                        
                    <p>{{article.content}}</p>
                    <hr>

                {% endfor %}

        {% endif %}
               


                
    </div>
    <div class="right">
        <!-- Right column content (ads, etc.) goes here -->
        <img src="https://cdn.pixabay.com/photo/2023/07/22/10/50/ship-8143169_1280.jpg" alt="Ad 3">
        <img src="https://cdn.pixabay.com/photo/2023/07/13/16/32/woman-8125236_1280.jpg" alt="Ad 4">
        
        <img src="https://cdn.pixabay.com/photo/2023/08/07/13/44/tree-8175062_1280.jpg" alt="Ad 1">
        <img src="https://cdn.pixabay.com/photo/2023/04/07/09/19/woman-7905926_1280.jpg" alt="Ad 2">
 
    </div>
</div>




{% endblock content %}






