
{% extends 'base.html' %}
{% load static %}


{% block title %}Terms{% endblock title %}

{% block content %}

<div class="container">
    <h1>Terms and Conditions</h1>
    <p>Welcome to [Website Name]. These Terms and Conditions ("Terms") govern your use of our website, including accessing, browsing, or contributing to the content on our platform. By accessing or using our website, you agree to these Terms. If you do not agree with these Terms, please refrain from using our website.</p>

    <h2>Content and Usage</h2>
    <p>The content provided on [Website Name] is for general informational purposes only. We do not guarantee the accuracy, completeness, or reliability of the information displayed on the website. You may access our website for personal, non-commercial use. However, you must not use the content for any unlawful or unauthorized purposes. Users may contribute to the content by posting comments or participating in discussions, and by doing so, you grant [Website Name] a non-exclusive, worldwide, royalty-free license to use, reproduce, modify, adapt, publish, translate, and distribute your content.</p>
    <p>Users are solely responsible for the content they post on [Website Name]. Content must not be offensive, harmful, or violate any applicable laws or regulations.</p>

    <h2>Intellectual Property</h2>
    <p>[Website Name] and its original content, features, and functionality are owned by [Your Company Name] and are protected by international copyright, trademark, patent, trade secret, and other intellectual property or proprietary rights laws. You may not reproduce, distribute, modify, display, perform, or otherwise use any part of our website without prior written permission from [Your Company Name].</p>

    <!-- Add more sections here if needed -->

    <h2>Governing Law</h2>
    <p>These Terms shall be governed by and construed in accordance with the laws of [Your Country/State], without regard to its conflict of laws principles.</p>

    <h2>Contact Us</h2>
    <p>If you have any questions or concerns about these Terms or our website, please contact us at [Your Contact Email].</p>

    <p>By using [Website Name], you agree to be bound by these Terms and our Privacy Policy. Thank you for visiting our website and enjoy your experience with us!</p>

    <p>[Your Company Name]<br>
    [Website Address]<br>
    [City, Country]<br>
    [Email Address]<br>
    [Phone Number]</p>
</div>
{% endblock content %}
